<app-ng-content-directive>
  <h2 card-title>Прокинутый заголовок</h2>
  <div card-body>Прокинутое тело</div>
  <ng-container card-footer>
    Прокинутый ng-container с кнопками
    <button>Кнопка 1</button>
    <button>Кнопка 2</button>
  </ng-container>
</app-ng-content-directive>

<app-ng-content-directive>
  <h2 card-title>Прокинутый заголовок</h2>
  <div card-body>Прокинутое тело</div>
  <button card-footer>Прокинутая кнопка</button>
</app-ng-content-directive>

<app-ng-content-directive></app-ng-content-directive>
